{alias, [
         {check, [lint, xref, dialyzer, edoc,
                  {eunit, "-c"}, {ct, "-c"}, {proper, "-c"},
                  {cover, "-v --min_coverage=54"},
                  todo
                 ]}
        ]}.

{dialyzer, [{warnings, [unknown]}]}.

{erl_opts, [
            debug_info,
            warn_unused_import,
            warnings_as_errors
           ]}.

{deps, [
        {flatlog, {git, "https://github.com/ferd/flatlog.git", {tag, "v0.1.1"}}},
        {cowboy, "2.6.3"},
        {gproc, "0.8.0"},
        {jsone, "1.4.7"},
        recon,
        {emqttc, {git, "https://github.com/emqtt/emqttc.git", {tag, "0.8.0"}}}
       ]
}.

{relx, [{release, {mqtt_simulator, "0.1.0"},
         [
          flatlog,
          recon,
          sasl,
          mqtt_simulator
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },

            {test, [
                    {erl_opts, [nowarn_export_all]},
                    {deps, [
                            {meck, "0.8.9"},
                            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
                           ]}
                   ]}
           ]
}.

{plugins, [
           {rebar3_proper, "0.11.1"},
           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}},
           {rebar3_todo, {git, "https://github.com/ferd/rebar3_todo.git", {branch, "master"}}}
          ]}.

{elvis,
 [#{dirs => ["apps/*/src/**",
             "apps/*/test/**"],
    filter => "*.erl",
    rules => [{elvis_style, line_length,
               #{ignore => [],
                 limit => 120,
                 skip_comments => false}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names, #{ignore => []}},
              {elvis_style, macro_module_names},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}},
              {elvis_style, nesting_level, #{level => 3}},
              {elvis_style, god_modules,
               #{limit => 25,
                 ignore => []}},
              {elvis_style, no_if_expression},
              {elvis_style, invalid_dynamic_call,
               #{ignore => []}},
              {elvis_style, used_ignored_variable},
              {elvis_style, no_behavior_info},
              {elvis_style,
               module_naming_convention,
               #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$", ignore => []}},
              {elvis_style,
               function_naming_convention,
               #{regex => "^[a-z]([a-z0-9]*_?)*$"}},
              {elvis_style, state_record_and_type},
              {elvis_style, no_spec_with_records},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
              {elvis_style, no_debug_call, #{ignore => []}}
             ]
   },
  #{dirs => ["."],
    filter => "rebar.config",
    rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}}]
   }
 ]
}.

{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{xref_ignores, []}.
