[
 {mqtt_simulator, []},

 {kernel, [
           {logger, [
                     {handler, default, logger_std_h,
                      #{formatter => {flatlog, #{
                                                 single_line => true,
                                                 depth => 50,
                                                 time_offset => 0
                                                }}}
                     }
                    ]},
           {logger_level, info}
          ]},

 {sasl, [
         {sasl_error_logger, {file, "logs/sasl.log"}}
        ]}
].
